*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow: hidden;
}

.app{
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 252, 252);
  width: 100vw;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
}

/* Buttons */

.buttons{
  display: flex;
  width: 45%;
  justify-content: space-around;
  align-items: center;
  max-width: 700px;
}

.btn{
  background-color: white;
  border: 0px solid rgb(36, 36, 36);
  color: rgb(36, 36, 36);
  font-family: 'gilroy-bold';
  font-size: 1em;
  border-radius: 50px;
  cursor: pointer;
  width: 250px;
  height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  transition: 200ms;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.btn:hover{
  transform: scale(1.05);
}

.configs{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  font-family: 'gilroy';
  top: 25px;
  right: 25px;
}

.configs p{
  color: transparent;
}

.changemap{
  cursor: pointer;
  display: none;
}

.changemap img{
  width: 30px;
}

.custmsg::before{
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  color: rgb(36, 36, 36);
  text-align: center;
  border-radius: 20px;
  transition: opacity 1s ease-in-out;
  padding: 20px 25px;
  position: fixed;
  z-index: 1;
  right: 15px;
  top: 60px;
  text-align: center;
  font-family: 'gilroy';
}

.custmsg:hover::before {
  opacity: 1;
  visibility: visible;
}

.desableautorot {
  cursor: pointer;
}


.desableautorot img{
  width: 30px;
}